body{

}

.block{
    background: #E9F6E9;
}

.info{
    color:  #65BA74;
}

.btnbilan{
    background: #203C25;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-left: 30px;
}

.btnmodifier{
    background: #8EC8F6;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
}

.contenu{
    margin: 70px;
    background: #E9F6E9;
    border-radius: 25px;
    padding: 30px;
    padding-bottom: 130px;
}

.contenu p {
    text-align: justify;
    font-size: 25px;
}

.logopage{
    width: 100px;
    height: auto;
    float:right
}