body{

    background: #F5FBF5;
}

.block{
    text-align: center;
    background: #E9F6E9;
    width: 50%;
    height: 500px;
    border-radius: 30px;
}

.info{
    color:  #65BA74;
}




.contenu{
    margin: 70px;
    background: #E9F6E9;
    border-radius: 25px;
    padding: 30px;
    padding-bottom: 130px;

}


p{
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
}


.contenu p {
    text-align: justify;
    font-size: 25px;
}

.logopage {
    width: 100px;
    height: auto;
    float: right;
}
.cadre{
    background: #E9F6E9;
    border-radius: 20px;
    margin: 50px 250px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.bilan{
    background: #B2DDB5;
    text-align: center;
    border-radius: 15px;
    flex: 1;
    width: 800px;
    margin: 100px;
    height: 800px;
}

.contenubil .cadre .bilan .datmodiflib p {
    text-align: center;
    margin: 30px;
}

h1{
    margin-top: 100px;
}

.datemodiflib{
    font-size: 11px;
}


.bilan .datemodiflib p{
    text-align: center;
}

.block{
    flex: 1;
    width: 800px;
}

.contenudetail{
    display: flex;
    justify-content: center;

}

.contenudetail .mesinfo .block h1{
    display: flex;
    justify-content: center;
    padding-top: 40px  ;
    padding-bottom: 80px;
}

.centreinf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 400px;
}

.btnbila{
    position: absolute;
    bottom: 20px;
    padding: 50px;
    background: #E9F6E9;
}

.contenuetu {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.mesinfo, .infoentreprise {
    flex: 1;
    max-width: 45%;
}

.blockinfor{
    text-align: center;
    background: #E9F6E9;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    }