body{

    background: #F5FBF5;
}

.block{
    text-align: center;
    background: #E9F6E9;
    width: 50%;
    height: 500px;
    border-radius: 30px;
}

.info{
    color:  #65BA74;
}

.btnbilan{
    background: #203C25;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-left: 30px;
}

.btnmodifier{
    background: #8EC8F6;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
}

.cadre{
    background: #E9F6E9;
    border-radius: 20px;
    margin: 100px 250px;
}

.bilan{
    margin: 55px 60px;
    padding: 20px;
    background: #B2DDB5;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
}

.btnbil{
    background: #203C25;
    color: #ffffff;
}

p{
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
}

h1{
    margin-top: 100px;
}

.datemodiflib{
    font-size: 11px;
}

.mesinfo{
    margin-left: 620px
}