.btnrouge{
    background-color: #EC8E7B;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 20px;
}
.btnvert{
    background-color: #53B365;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 20px;
}
.btnbleu{
    background-color: #8EC8F6;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 20px;
}

.btnbil{
    background: #203C25;
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
}

.btnbilan{
    background: #203C25;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    margin: 50px;

}