    label{
        font-size: 20px;
        width: 300px;
    }
    p {
        display: flex;
        align-items: center;
    }


    .typetext{
        background: #C9E8CA;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        padding: 0px 12px;
    }

    select{
        background: #C9E8CA;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        width: 240px;
    }



    .centre{
        text-align: left;
        margin-left: 360px;
        margin-top: -460px;

    }

    .selection{
        text-align: right;
        margin-right: 20px;
    }

    .centre .info{
        font-size: 20px;

    }

    .selection{
        margin-top: -345px;
    }

    .info p{
        font-size: 30px;
    }

    .selectclass{
        margin-top: 280px;
    }

    .selectmaitre{
        margin-top: 120px;
    }

    .selectetudiant{
        margin-top: -410px;
    }

    .selectespe{
        margin-top: 320px;
    }

    .selectentreprise{
        margin-top: 120px;
    }

