label{
font-size: 20px;
}

.typetext{
    background: #C9E8CA;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 0px 12px;
}

select{
    background: #C9E8CA;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 240px;
}

.centre{
    text-align: left;
    margin-left: 450px;
    margin-top: -460px;

}

.selection{
    text-align: right;
    margin-right: 50px;
}

.centre .info{
    font-size: 20px;

}

.selection{
    margin-top: -345px;
}

.info p{
    font-size: 30px;
}

