@media screen and (min-width: 1080px) {
    body {
        background: #F5FBF5;
        font-family: Roboto, sans-serif;
        color: #203C25;
    }

    nav {
        background: #94CE9A;
        font-size: 25px;
        list-style-type: none;
        border-radius: 20px;
        margin-left: 180px;
        margin-right: 20px;
        margin-top: -130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    .nomentreprise {
        font-size: 42px;
        text-align: left;
        margin: 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        list-style-type: none;
        padding: 30px;
    }


    a {
        color: #203C25;
        text-decoration: none;
    }

    .logo {
        height: 120px;
        padding: 20px;
    }

    .logosortie {
        height: 30px;
    }
}


@media screen and (max-width: 1300px) {
    nav ul li {
        list-style-type: none;
        padding: 30px 10px;
    }
}